[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/OpenXiangShan-Nanhu/rocket-chip
[submodule "xs-utils"]
	path = xs-utils
	url = https://github.com/OpenXiangShan-Nanhu/xs-utils
[submodule "chisel"]
	path = chisel
	url = https://github.com/OpenXiangShan-Nanhu/chisel.git
