[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/OpenXiangShan-Nanhu/rocket-chip
[submodule "xs-utils"]
	path = xs-utils
	url = https://github.com/OpenXiangShan-Nanhu/xs-utils
[submodule "chisel"]
	path = chisel
	url = https://github.com/OpenXiangShan-Nanhu/chisel.git
[submodule "dep/chisel"]
	path = dep/chisel
	url = https://github.com/OpenXiangShan-Nanhu/chisel.git
[submodule "dep/hardfloat"]
	path = dep/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "dep/cde"]
	path = dep/cde
	url = https://github.com/chipsalliance/cde.git
[submodule "dep/rocket-chip"]
	path = dep/rocket-chip
	url = https://github.com/OpenXiangShan-Nanhu/rocket-chip.git
[submodule "dep/diplomacy"]
	path = dep/diplomacy
	url = https://github.com/chipsalliance/diplomacy.git
